.button{
  background-color: #0057A9;
  border-style: none;
  width: 90px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
}

.button:hover{
  background-color: #02325f;
  cursor: pointer;
  border: 1px solid grey;
}